@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*
{
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
}
#main-body {
  background-color: #00244A;
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header {
  font-size: 1.5em;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 60%;
  border: solid 1px #BCE6F7;
  border-radius: 50px 50px 0px 0px;
}
h2 {
  color: #BCE6F7;
  text-align: center;
  font-weight: 300;
}
.main-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 70%;
  width: 60%;;
  border-width: 0px 1px;
  border-style: solid;
  border-color: #BCE6F7;
}
.widget {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.weatherLocation {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
}
.form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  margin-top: 2em;
  flex-direction: row;
}
.search {
  width: 50%;
  height: 50%;
  font-size: 0.8rem;
  font-weight: 400;
  padding-left: 1em;
  border-radius: 0.5em 0em 0em 0.5em;
  border-width: 1px 0px 1px 1px;
	border-style: solid;
  color: #BCE6F7;
  text-decoration: none;
  background-color: transparent;
  outline: 0;
	border-color: #BCE6F7;
  box-shadow: rgba(223, 223, 255, 0.25) 0px 50px 100px -20px, rgba(255, 255, 255, 0.3) 0px 30px 60px -30px, rgba(255, 255, 255, 0.35) 0px -2px 6px 0px inset;
}
.search::placeholder {
  color: #BCE6F7;
  opacity: 0.7;
}
button {
  width: 3rem;
  height: 50%;
  font-size: 1rem;
  border: none;
  color: #BCE6F7;
  background-color: transparent;
  border-radius: 0em 0.5em 0.5em 0em;
  border-width: 1px;
  border-style: solid;
  border-color: #BCE6F7;
  cursor: pointer;
  transition: all 0.175s ease-in-out;
}
button:hover {
  background-color: rgb(146, 195, 255);
}
button:hover i {
  color: #4e0000;
  transition: all 0.175s ease-in-out;
}
.weatherIcon {
  font-size: 14vw;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30%;
  background-color: transparent;
  margin-top: 5%;
  animation: glow 2s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #6ad7ff, 0 0 3px #6ad7ff, 0 0 3px #6ad7ff, 0 0 4px #6ad7ff, 0 0 4px #6ad7ff;
  }
  
  to {
    text-shadow: 0 0 1px #fff, 0 0 2px #ffacf9, 0 0 3px #ffacf9, 0 0 3px #ffacf9, 0 0 3px #ffacf9, 0 0 4px #ffacf9, 0 0 4px #ffacf9;
  }
}
.detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 25%;
  margin-top: 6%;
}
.date {
  font-size: 2vw; 
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 10px 10px 0px;
  background-color: #BCE6F7;
  height: 80%;
  color: #00244A;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.weatherInfo {
  font-weight: 500;
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  font-weight: 500;
  position: relative;
}
.description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 66.67%;
  height: 100%;
  border-radius: 5px;
  background-color: #BCE6F7;
  color: #00244A;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.temperature {
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 2vw;
  color: #00244A;
  border-radius: 10px 0px 0px 10px;
  background-color: #BCE6F7;
  height: 80%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.weatherCondition {
  font-size: 2vw;
  font-weight: 300;
}
.place {
  font-size: 1.7vw;
  text-align: center;
}
.bottom {
  width: 60%;
  border-width: 1px;
  border-style: solid;
  border-color: #BCE6F7;
  border-radius: 0px 0px 50px 50px;
  height: 2em;
}